<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f9fb0">  <td>16/08/08 16:29:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunCuke3Test.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.qpid.automation.feature.RunCuke3Test@59fa1d9b]">feature</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>16/08/08 16:29:32</td>   <td>-482</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunCuke3Test.setUpClass()[pri:0, instance:com.qpid.automation.feature.RunCuke3Test@59fa1d9b]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>16/08/08 16:29:36</td>   <td>4250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RunCuke3Test.tearDownClass()[pri:0, instance:com.qpid.automation.feature.RunCuke3Test@59fa1d9b]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
</table>
