<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4b689">  <td>16/08/04 14:47:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunCuke3Test.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.qpid.automation.feature.RunCuke3Test@4ac3c60d]">feature</td> 
  <td>main@22600334</td>   <td></td> </tr>
<tr bgcolor="a4b689">  <td>16/08/04 14:47:05</td>   <td>-569</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunCuke3Test.setUpClass()[pri:0, instance:com.qpid.automation.feature.RunCuke3Test@4ac3c60d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22600334</td>   <td></td> </tr>
<tr bgcolor="a4b689">  <td>16/08/04 14:47:06</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RunCuke3Test.tearDownClass()[pri:0, instance:com.qpid.automation.feature.RunCuke3Test@4ac3c60d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22600334</td>   <td></td> </tr>
</table>
